body{
    /*background: #f00;*/
    margin: 0px;
}

.destaque{
    width: 100%;
    height: 100vh;
    background: url('../Images/kxeyzyxbc5g91.png') ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}